html,body{
    height: 100%;
}
html{
    display: table;
    margin: auto;
}
body{
    background-color: black;
   display: table-cell;
   vertical-align: middle;
}
.wrap{
    width: 800px;
    height: 500px;
    background-color: black;
    border: 10px solid white;
    border-bottom: 25px solid white;
}
.inner-wrap{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 6px;
    padding: 5px 15px;
    margin: 100px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.inner-wrap>.p-wrap {
    width: 325px;
    height: fit-content;
    margin-top: 75px;
}
.inner-wrap>.p-wrap>p{
    font-size: 17px;
    text-align: left;
    margin-top: 15px;
    font-family: 'Georgia', serif;
    line-height: 1.5em;
}
.inner-wrap>.h1-wrap{
    width: 325px;
    height: 80px;
    border-radius: 6px;
    background-color: #ff0095;
    position: absolute;
    z-index: 1;
    top: -7%;
}
.inner-wrap>.h1-wrap>h1{
    margin:  18px auto;
    text-align: center;
    font-weight: 900;
    font-size: 33px;
    font-family: 'Georgia', serif;
    line-height: 1.5em;
}
.otter {
    background-color: #ff00a5;
    text-align: center;
    height: 50px;
    width: 250px;
    margin-top: 20px;
    margin-left: 75px;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
}